<head>
    #parse("/admin/_tags/_meta.vm")
    <link rel="stylesheet" href="/assets/libs/kindeditor/themes/default/default.css">
    <link href="/assets/libs/chosen/chosen.min.css" rel="stylesheet">
    <link href="/assets/libs/tagsinput/jquery.tagsinput.min.css" rel="stylesheet">
    <title>$!title - 后台管理</title>
    <style>
    .input-items input {display: inline-block;}
    .input-items input:first-child {margin-right: 20px;}
    </style>
</head>
<body>
#parse("/admin/_tags/_header.vm")
<div class="body">
    <div class="container-box row">

        #set($menu = "menu_notice")
        #parse("/admin/_tags/_menus.vm")

        <div class="col-main">

            #set($submenu = 'submenu_notices_update')
            #parse("/admin/notices/_tabs.vm")

            <div class="main_bd">
                <div class="panel panel-default">
                    <div class="panel-heading">基本信息
                    </div>
                    <ul class="list-group">
                        <form id="model-form" method="post" action="/admin/notices/update/$!{art.id}">
                            <li class="list-group-item">
                                <h4>封面图</h4>
                                <div class="meta_content" id="img-preview-container">
                                    #if($!art.cover)
                                        <div style="position:relative;">
                                            <img src="$!art.cover" style="max-width: 400px;max-height: 300px;"/>
                                            <input type="hidden" name="cover" value="$!art.cover"/>
                                        </div>
                                    #end
                                </div>
                                <div class="meta_opr pull-right" id="image-upload-btn" style="margin-right: 34px;">
                                    <a href="javascript:void(0);">上传图片</a>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <h4>标题</h4>
                                <div class="meta_content">
                                    <input type="text" name="title" value="$!{art.title}" class="form-control" placeholder="请填写标题" style="width:500px;"/>
                                </div>
                                <div class="meta_opr">设置标题</div>
                            </li>
                            <li class="list-group-item">
                                <h4>标签</h4>
                                <div class="meta_content">
                                    <input name="labels" id="tags-labels" value="$!art.labels"/>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <h4>内容</h4>
                                <div class="meta_content">
                                    <textarea class="form-control" id="editor-content" style="width:700px;">$!{art.content}</textarea>
                                    <input type="hidden" name="content" id="editor-input">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <h4>摘要</h4>
                                <div class="meta_content">
                                    <textarea class="form-control" name="summary" placeholder="请填写文章摘要，200字以内（若不填写，则自动生成）" style="width:700px;">$!{art.summary}</textarea>
                                </div>
                            </li>
                        </form>
                    </ul>
                    <div class="panel-footer">
                        <button id="model-form-save" type="button" class="btn btn-success" >立即保存</button>
                        <button id="model-form-reset" type="button" class="btn btn-default" >重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="file" name="file" id="uploadImg" data-target="" accept="image/*" onchange="fileupload(this)" style="display:none;">
<script id="img-preview" type="text/html">
    <div style="position:relative;">
        <img src="{{src}}" style="max-width: 400px;max-height: 300px;"/>
        <input type="hidden" name="cover" value="{{src}}"/>
    </div>
</script>
#parse("/admin/_tags/_footer.vm")
<script src="/assets/libs/kindeditor/kindeditor-min.js"></script>
<script src="/assets/libs/kindeditor/lang/zh_CN.js"></script>
<script src="/assets/libs/chosen/chosen.jquery.min.js"></script>
<script src="/assets/libs/tagsinput/jquery.tagsinput.min.js"></script>
<script src="/assets/js/admin/notices/update.js"></script>
</body>

