#set($layout = '/admin/_tags/_layout.vm')

#set($menu = "menu_groupbuy")

#set($submenu = 'submenu_groupbuy_create')
#parse("/admin/groupbuy/_tabs.vm")

<div class="main_bd">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ol class="breadcrumb">
                <li>
                    <a href="javascript:window.history.back();">
                        <i class="glyphicon glyphicon-chevron-left"></i>返回
                    </a>
                </li>
                <li class="active">添加</li>
            </ol>
        <ul class="list-group">
            <form id="model-form" action="/admin/groupbuy/save" method="post">
                <li class="list-group-item">
                    <h4>团购人</h4>
                    <div class="meta_content">
                        <input type="text" name="name" class="form-control" placeholder="请填写团购人"/>
                    </div>
                    <div class="meta_opr">添加团购人</div>
                </li>
                <li class="list-group-item">
                    <h4>团购人电话</h4>
                    <div class="meta_content">
                        <input type="text" name="phone" class="form-control" placeholder="请填写团购人电话号码"/>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>楼盘</h4>
                    <div class="meta_content">
                        <input type="text" name="hid" class="form-control" placeholder="请填写楼盘名称"/>
                    </div>
                    <div class="meta_opr"><strong><font color="red">*</font></strong>添加楼盘名</div>
                </li>
                <li class="list-group-item">
                    <h4>会员</h4>
                    <div class="meta_content">
                        <input type="text" name="uid" class="form-control" placeholder="请填写会员名"/>
                    </div>
                </li>
            </form>
        </ul>
        <div class="panel-footer">
            <button id="model-form-save" type="button" class="btn btn-success" >立即保存</button>
            <button id="model-form-reset" type="button" class="btn btn-default" >重置</button>
        </div>
    </div>
</div>

<script src="/assets/js/admin/groupbuy/create.js"></script>
