<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>我的收藏</title>
    <link rel="stylesheet" type="text/css" href="/assets/wap/css/api.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/wap/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/wap/css/aui-flex.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/wap/css/aui-slide.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/wap/css/style.css"/>
    <style>
        body {

        }
    </style>
</head>
<body>
    <header class="aui-bar aui-bar-nav">
        <a class="aui-pull-left" onclick="history.back();">
            <span class="aui-iconfont aui-icon-left"></span>返回
        </a>
        <div class="aui-title">我的团购</div>
    </header>
    <div class="aui-content house-items">
        <ul class="aui-list-view" id="tpl-el">

        </ul>
    </div>
    <div class="btn-load-more">
        <div id="btn-load-more" onclick="loadPaged()" class="aui-btn">加载更多</div>
    </div>
</body>
<script id="tpl" type="text/html">
    {{~it :value}}
    <a href="/wap/houses/detail/{{=value.id}}">
        <li class="aui-list-view-cell aui-img" onclick="">
            <img class="aui-img-object aui-pull-left" src="/assets/images/web/gray.png" data-echo="{{=value.cover}}">
            <div class="aui-img-body">
                <h4 class="aui-ellipsis-1">{{=value.title}}</h4>
                <p class="addr">{{=value.address}}</p>
                <p class="type">
                    <span>{{=value.room}}</span>
                    <span class="price">{{=value.total+'万'||'面议'}}</span>
                </p>
            </div>
        </li>
    </a>
    {{~}}
</script>
<script type="text/javascript" src="/assets/wap/js/api.js"></script>
<script type="text/javascript" src="/assets/wap/js/doT.min.js"></script>
<script type="text/javascript" src="/assets/wap/js/echo.min.js"></script>
<script type="text/javascript" src="/assets/wap/js/zepto.min.js"></script>
<script type="text/javascript" src="/assets/wap/js/common.js"></script>
<script type="text/javascript">
    var PageData = {
        page: 0,    // 当前页码，默认从0开始
        size: 10,   // 每页size
        last: false // 是否已经到最后一页
    };
    function updatePageData(data) {
        PageData.last = data.last;
        var page = PageData.page;
        PageData.page = page + 1;
        var display = data.last ? 'none' : 'block';
        $('#btn-load-more').css('display', display);
        lazyLoadImgs();
    }

    function loadPaged() {
        if (PageData.last) {
            alert("暂无最新数据!");
            return;
        }
        var url = '/groupbuy/enrolled?&size=' + PageData.size + '&page=' + PageData.page;
        ajaxGet(url, function (data) {
            if(!data){
                $('#btn-load-more').css('display', 'none');
            }else{
                var html = renderEl('tpl', data.content);
                $("#tpl-el").append(html);
                updatePageData(data);
            }
        }, null);
    }
    $(function(){
        loadPaged();
    });

</script>
</html>
