#set($layout = '/admin/_tags/_layout.vm')

<style>
    .label {
        display: inline-block;
        padding: .4em .6em;
        line-height: 1.2;
        margin-right: 8px;
        cursor: pointer;
    }
    
</style>

#set($menu = "menu_settings")

#set($submenu = 'submenu_settings')
#parse("/admin/settings/_tabs.vm")

<div class="main_bd">
    <table id="model-table-view"></table>
    
</div>

<script src="/assets/js/admin/settings/seo.js"></script>
