#set($layout = '/admin/_tags/_layout.vm')

#set($menu = "menu_house")

#set($submenu = 'submenu_house_form')
#parse("/admin/houses/_tabs.vm")

<style>
    .panel {
        margin-bottom: 0px;
    }
    .no-border-b {
        border-bottom: 0;
    }
    .no-border-lr {
        border-left: 0;
        border-right: 0;
    }
    .no-padding {
        padding: 0px !important;
    }
</style>

<div class="main_bd">
    <form id="model-form" action="/admin/houses/save" method="post">
        <div class="panel panel-default no-border-b">
            <div class="panel-heading">基本信息
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>城市</h4>
                    <div class="meta_content">
                        <select name="city" data-placeholder="选择城市" id="selector-city" style="width:300px;" class="form-control chzn-select">
                            <option value="-1"></option>
                            #foreach($item in $!cityList)
                                <option value="$!item.code">$!item.name</option>
                            #end
                        </select>
                    </div>
                    <h4>地区</h4>
                    <div class="meta_content">
                        <select name="country" data-placeholder="选择地区" id="selector-country" style="width:300px;" class="form-control chzn-select">
                            '<option value="-1"></option>
                        </select>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4><em>*</em>分类</h4>
                    <div class="meta_content">
                        <select id="select-cid" name="type" data-placeholder="选择分类" style="width:300px;" class="form-control chzn-select">
                            <option value="-1"></option>
                            #foreach($type in $!types)
                                <option value="$!type.value" data-type="$!type.value">$!type.name</option>
                            #end
                        </select>
                    </div>
                    <!-- 当选择售楼部分类时，开启售楼部选项 -->
                    <h4>售楼部</h4>
                    <div class="meta_content">
                        <select name="comid" data-placeholder="选择售楼部" style="width:300px;" class="form-control chzn-select">
                            <option value="-1"></option>
                            #foreach($com in $!coms)
                                <option value="$!com.id">$!com.title</option>
                            #end
                        </select>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4><em>*</em>标题</h4>
                    <div class="meta_content">
                        <input type="text" name="title" class="form-control" style="width:720px;" placeholder="xx花园有房出售"/>
                        <p class="fnote">建议在100字以内</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>用途</h4>
                    <div class="meta_content">
                        <div class="input-group" style="width:300px;">
                            <input type="text" name="useage" class="form-control">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择 <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-opt-group">
                                    <li>
                                        <span class="btn-opt">住宅</span>
                                        <span class="btn-opt">别墅</span>
                                        <span class="btn-opt">商铺</span>
                                        <span class="btn-opt">写字楼</span>
                                    </li>
                                    <li>
                                        <span class="btn-opt">厂房</span>
                                        <span class="btn-opt">仓库</span>
                                        <span class="btn-opt">车库</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>朝向</h4>
                    <div class="meta_content">
                        <div class="input-group" style="width:300px;">
                            <input type="text" name="toward" class="form-control">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择 <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-opt-group">
                                    <li>
                                        <span class="btn-opt">东</span>
                                        <span class="btn-opt">西</span>
                                        <span class="btn-opt">南</span>
                                        <span class="btn-opt">北</span>
                                    </li>
                                    <li>
                                        <span class="btn-opt">东南</span>
                                        <span class="btn-opt">西南</span>
                                        <span class="btn-opt">东北</span>
                                        <span class="btn-opt">西北</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>装修</h4>
                    <div class="meta_content">
                        <div class="input-group" style="width:300px;">
                            <input type="text" name="decoration" class="form-control">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择 <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-opt-group">
                                    <li>
                                        <span class="btn-opt">毛坯</span>
                                        <span class="btn-opt">普通</span>
                                        <span class="btn-opt">精装</span>
                                    </li>
                                    <li>
                                        <span class="btn-opt">中档</span>
                                        <span class="btn-opt">豪装</span>
                                        <span class="btn-opt">均可</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4>面积</h4>
                    <div class="meta_content">
                        <div class="input-group" style="width:300px;">
                            <input type="text" name="areasize" class="form-control" placeholder="">
                            <span class="input-group-addon">平米</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>总价</h4>
                    <div class="meta_content">
                        <div class="input-group" style="width:300px;">
                            <input type="text" name="total" class="form-control" placeholder="">
                            <span class="input-group-addon">万元</span>
                        </div>
                    </div>
                    <h4>单价</h4>
                    <div class="meta_content">
                        <div class="input-group" style="width:300px;">
                            <input type="text" name="price" class="form-control" placeholder="">
                            <span class="input-group-addon">元/m²</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>户型</h4>
                    <div class="meta_content">
                        <div class="input-group" style="width:300px;float:left;margin-right:20px;">
                            <input type="text" name="bedroom" class="form-control" placeholder="">
                            <span class="input-group-addon no-border-lr">室</span>
                            <input type="text" name="livingroom" class="form-control" placeholder="">
                            <span class="input-group-addon no-border-lr">厅</span>
                            <input type="text" name="bathroom" class="form-control" placeholder="">
                            <span class="input-group-addon">卫</span>
                        </div>
                    </div>
                    <h4 style="margin-left: -18px;">楼层</h4>
                    <div class="meta_content">
                        <div class="input-group" style="width:300px;float:left;margin-right:20px;">
                            <input type="text" name="floor" class="form-control" placeholder="">
                            <span class="input-group-addon no-border-lr">几楼</span>
                            <input type="text" name="fhigh" class="form-control" placeholder="">
                            <span class="input-group-addon">共几层</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>标签</h4>
                    <div class="meta_content">
                        <input name="labels" id="tags-labels" value="随时可看"/>
                        <p class="fnote">按回车键(Enter)保存标签；建议1-3个标签即可；每个标签字数在4个以内</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4><em>*</em>图片</h4>
                    <div class="meta_content">
                        #parse('/admin/_widgets/upload_con.vm')
                        <p class="fnote">建议尺寸：600 x 300 像素，200k以内；您可以通过箭头调整图片顺序；第一张图片默认为封面图。</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4><em>*</em>位置图片</h4>
                    <div class="meta_content">
                        #parse('/admin/_widgets/upload_con_location.vm')
                        <p class="fnote">建议尺寸：1000 x 400 像素，200k以内；</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>属性</h4>
                    <div class="meta_content">
                        <div class="checkbox">
                            <label><input name="isrecommended" type="checkbox">推荐</label>
                            <label><input name="isnew" type="checkbox">新品</label>
                            <label><input name="ishot" type="checkbox">热卖</label>
                            <label><input name="isgroupbuy" type="checkbox">团购</label>
                        </div>
                        <p class="fnote">被推荐的房产将会显示在首页</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel panel-default no-border-b">
            <div class="panel-heading">联系人信息
                <a class="pull-right">一键设置为默认联系信息</a>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4><em>*</em>姓名</h4>
                    <div class="meta_content">
                        <input type="text" name="contact" class="form-control" style="width:300px;" placeholder=""/>
                    </div>
                    <h4><em>*</em>电话</h4>
                    <div class="meta_content">
                        <input type="text" name="phone" class="form-control" style="width:300px;" placeholder=""/>
                        <p class="fnote">注意：多个号码之间用英文逗号","分隔</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>座机</h4>
                    <div class="meta_content">
                        <input type="text" name="landLine" class="form-control" style="width:300px;" placeholder=""/>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>微信</h4>
                    <div class="meta_content">
                        <input type="text" name="weixin" class="form-control" style="width:300px;" placeholder=""/>
                    </div>
                    <h4>QQ</h4>
                    <div class="meta_content">
                        <input type="text" name="qq" class="form-control" style="width:300px;" placeholder=""/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel panel-default no-border-b">
            <div class="panel-heading">备注信息（以下内容只对管理员可见，用以备注特殊信息</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>联系方式</h4>
                    <div class="meta_content">
                        <input type="text" name="publisher" class="form-control" style="width:300px;" placeholder=""/>
                    </div>
                    <h4>房源底价</h4>
                    <div class="meta_content">
                        <input type="text" name="minPrice" class="form-control" style="width:300px;" placeholder=""/>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>关注者</h4>
                    <div class="meta_content">
                        <input type="text" name="follow" class="form-control" style="width:300px;" placeholder=""/>
                    </div>
                    <h4>综合评分</h4>
                    <div class="meta_content">
                        <input type="text" name="score" class="form-control" style="width:300px;" placeholder="请填写1-100之内的数字"/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">详情描述
            </div>
            <ul class="list-group no-padding">
                <li class="list-group-item">
                    <textarea class="form-control" id="editor-content" style="width:950px;"></textarea>
                    <input type="hidden" name="content" id="editor-input">
                    <p class="fnote">建议：图片上传数量不宜超过5张，宽度在640像素以内，高度任意，大小在200k以内。</p>
                </li>
            </ul>
            <div class="panel-footer">
                <button id="model-form-submit" type="button" class="btn btn-success" >立即保存</button>
                <button id="model-form-reset" type="button" class="btn btn-default" >重置</button>
            </div>
        </div>
    </form>
</div>
#include('/admin/_widgets/upload_view.vm')
#include('/admin/_widgets/upload_view_location.vm')
<script src="/assets/js/admin/houses/create.js"></script>
