<head>
    #parse("/admin/_tags/_meta.vm")
    <title>$!title - 后台管理</title>
</head>
<body>

#parse("/admin/_tags/_header.vm")

<div class="body">
    <div class="container-box row">

        #set($menu = "menu_morders")
        #parse("/admin/_tags/_menus.vm")

        <div class="col-main">

            #set($submenu = 'submenu_morders_deprecated')
            #parse("/admin/morders/_tabs.vm")

            <div class="main_bd users-page">
                <table id="model-table-view">
                </table>
            </div>
        </div>
    </div>
</div>

#parse("/admin/_tags/_footer.vm")
<script src="/assets/js/admin/morders/deprecated.js"></script>
</body>
