<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title></title>
	<meta name="Keywords" content="在线表决系统网">
	<meta name="description" content="在线表决系统网">
	<link rel="stylesheet" media="all" href="/assets/css/pc/base.css">
	<link rel="stylesheet" media="all" href="/assets/css/pc/loupanxiangqing.css">
	<link rel="stylesheet" media="all" href="/assets/css/pc/loupanxiangqing-top.css">
	<script type="text/javascript" src="/assets/js/pc/jquery.min.js"></script>

</head>

<body>
	
	<div class="container">
		<!--头部开始-->
		<div class="header">
			<div class="site-nav">
				<div class="wrapper clearfix">
					<p class="site-nav-left">
                        在线表决系统欢迎您！
					</p>
					<ul class="site-nav-right">
						<script type="text/javascript" src="/assets/session/show_setHome"></script>
					</ul>
				</div>
			</div>
			<div class="logo-search">
				<div class="wrapper logo-search-box">
					<div class="logo-box clearfix"  style="width: 300px;height: 126px;">
						<h1>
                            <a class="logo" href="/web/pc/home" title="在线表决系统网" hidefocus="true" style="background-image:url(/assets/images/logo.png);"></a>
						</h1>
                        <div class="citywrap">
                            <div id="city_hover_id" class="curcity clearfix"><i class="city">$!{cityName}</i>
##								<em class="cur"></em>
							</div>
                        </div>
					</div>
					#if($!{model.type} != 'ZUFANG')
                        <div class="search-box" style="width: 820px;height: 126px;top:0px;">
                            <div style="display:block;width: 798px; height: 90px;border-style:none;" id="gongjuBox" class="gongju-box">
                                <!--团购开始-->
                                <div class="gongju-box-tuangou fl">
                                    <p style="width: 800px;">最新活动一手掌握，看房活动专车到达，看房团购活动报名中 . . .</p>
                                    <form method="post" action="/web/group/save" id="group_form_house" name="group_form">
                                        <dl style="margin-left: 20px;">
                                            <dt>姓名:</dt>
                                            <dd><i><input type="text" class="username" gbstyle="name" name="name"></i></dd>
                                        </dl>
                                        <dl>
                                            <dt>手机:</dt>
                                            <dd><i><input type="text" maxlength="11" class="usertel" gbstyle="mobile" name="phone"></i></dd>
                                        </dl>
                                        <input type="hidden" value="$!{model.id}" name="hid">
                                        <input type="button" class="BaoMing" value="立即报名" onclick="saveGroupBuy()" style="margin-left: 670px;margin-top: 5px;"></form>
                                </div>
                                <!--团购结束-->
                            </div>
                            <!-- js before submit validate and submit-->
                        </div>
					#end
				</div>
                <hr>
			</div>
		</div>
		<!--头部结束-->
		<!--导航开始-->
		<div class="wrapper">
			<div class="lp_detail123">
				<div class="lp_detailL clearfixed">
					<div class="lp-id clearfixed" style="padding-top: 20px;">
						<div class="wz">
							<ul>
								<li>
									<a href="#">$!{cityName}&nbsp;&gt;&nbsp;</a>
								</li>
								<li>
									<a href="#">$!{model.qq}&nbsp;&gt;&nbsp;</a>
								</li>
                                <li>
                                    <a href="#">
										#if($!{model.type} == "XINFANG")新房
										#elseif($!{model.type} == 'ERSHOUFANG')二手房
										#else 租房 #end&nbsp;&gt;&nbsp;</a>
                                </li>
								<li>$!{model.title}</li>
							</ul>
						</div>
					</div>
					<div class="lp-name-id fl">
						<h1>$!{model.title}</h1>
						<dl>
							<dd class="b">$!{model.decoration}</dd>
                            <dd class="b">$!{model.useage} </dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<!--导航结束-->
		<!--主体开始-->
		<div class="wrapper">
			<!--楼盘名称开始-->
			<!--户型图展示-文字简介开始-->
			<div class="pic-show-dateil clearfiexd">
				<!-- 焦点图 -->
                <div class="syFocusThumb">
                    <div id="syFocusThumb" class="sliderwrapper">
						#foreach($item in $model.thumbnailItems)
                            <div class="contentdiv" style="display: block; overflow: hidden; z-index: 5; visibility: visible;">
                                <div class="dPic">
                                    <a href="/web/house/detail/$!{model.id}" target="_blank"><img src="$!{item}" alt="效果图"></a>
                                </div>
                            </div>
						#end
                    </div>
                    <div id="paginate-syFocusThumb" class="pagination">
						<i id="prev" class="prev" title="上一幅"></i>
                        <div class="thumbWrap">
                            <div class="holder">
								#foreach($item in $model.thumbnailItems)
                                    <i class="toc selected" rel="1" style="float: left;">
                                        <a target="_blank">
											<img src="$!{item}" width="70" height="40" alt="效果图">
										</a>
                                        <span></span><p>效果图</p>
                                    </i>
								#end
							</div>
                        </div>
						<i id="next" class="next" title="下一幅"></i>
					</div>
                </div>
				<!-- 焦点图 end-->
				<!--楼盘数据开始-->
				<div class="lp-dateil">
					<div class="lp-dateil-list">
						<dl>
							<dt>单 价：</dt>
							<dd>
								<span>
									#if($!{model.price} == -1)
										价格待定
									#else
										$!{model.price}元/m²
									#end
								</span>
							</dd>
							<dd class="timer">($!date.format('yyyy-MM-dd HH:mm:ss',$!{model.updatedAt})更新)</dd>
						</dl>
                        <dl>
							<dt>总 价：</dt>
                            <dd>
								$!{model.total}万元
							</dd>
                        </dl>
                        <dl>
                            <dt>面 积：</dt>
                            <dd>
								$!{model.areasize}/m²
                            </dd>
                        </dl>
						<dl><dt>地 址：</dt>
							<dd>[$!{model.qq}] $!{model.address}</dd>
							<dd class="alert">
							</dd>
						</dl>
						<dl><dt>详 情：</dt>
							<dd>$!{model.bedroom}室-$!{model.livingroom}厅-$!{model.bathroom}卫</dd>
						</dl>
						<dl><dt>用 途：</dt>
							<dd>$!{model.useage}</dd>
						</dl>
						<dl><dt>装 修：</dt>
							<dd>$!{model.decoration}</dd>
						</dl>
						<dl><dt>朝 向：</dt>
							<dd>$!{model.toward}</dd>
						</dl>
					</div>
					<div class="lp-num clearfixed">
##						<a href="/loupan/guyuanjiadaoyinzuo/xiangxi" class="more" style="width: 80px;float:left;">更多资料&gt;</a>
						<p> $!{model.phone}&nbsp; </p>
					</div>
				</div>
				<!--楼盘数据结束-->
			</div>
            <!--房屋介绍开始-->
            <div class="loupan-peitao clearfixed mt22" id="zhoubianpeitao1">
                <h2>房子详情</h2>
                <div id="loupan-peitao-tab" class="clearfixed">
					$!{model.content}
    			</div>

				<div></div>
            </div>
            <!--房屋介绍结束-->
			<!--楼盘配套开始-->
			<div class="loupan-peitao clearfixed mt22" id="zhoubianpeitao">
				<h2>$!{model.title}位置</h2>
				<div id="loupan-peitao-tab" class="clearfixed">
					<div class="tab-div" style="display:block;">
						<img src="${model.locationThumbnailItems[0]}" width="98%;" height="350">
					</div>
				</div>
			</div>
			<!--楼盘配套结束-->
			<!--分类数据开始-->
			<div class="fenlei-dateil clearfixed mt22">
				<!--同价位开始-->
				<div class="tongjiawei">
					<div class="new-title clearfixed">
						<h2>同价位楼盘</h2></div>
					<ul class="detail-title clearfixed">
						<li class="name">楼盘名</li>
						<li class="price">价格</li>
						<li>区域</li>
					</ul>
					#foreach($h in $!dataMap.tjwlp)
                        <dl>
                            <a href="/web/house/detail/$!{h.id}" target="_blank">
                                <dd class="lpname">$!{h.title}</dd>
                                <dd class="price">
									#if($!{h.price} == -1)
                                        价格待定
									#else
										$!{h.price}元/m²
									#end
								</dd>
                                <dd class="fangyuan-num">$!{h.qq}</dd>
                            </a>
                        </dl>
					#end
				</div>
				<!--同价位结束-->
				<!--最近开盘开始-->
				<div class="zuijin">
					<div class="new-title">
						<h2>最近开盘</h2></div>
					<ul class="detail-title clearfixed" style="height:40px;">
						<li class="name">楼盘名</li>
						<li class="price">价格</li>
						<li class="quyu1">区域</li>
						<li>开盘时间</li>
					</ul>
					#foreach($h in $!dataMap.zjkp)
                        <dl>
                            <a href="/web/house/detail/$!{h.id}" target="_blank">
                                <dd class="lpname">$!{h.title}</dd>
                                <dd class="price">
									#if($!{h.price} == -1)
                                        价格待定
									#else
										$!{h.price}元/m²
									#end
                                </dd>
                                <dd class="fangyuan-num" >$!{h.qq}</dd>
                                <dd class="riqi">$!date.format('yyyy-MM-dd',$!{h.createdAt})</dd>
                            </a>
                        </dl>
					#end
				</div>
				<!--最近开盘结束-->
				<!--人气楼盘排行榜开始-->
				<div class="paihangbang">
					<div class="new-title">
						<h2>人气楼盘排行榜</h2></div>
					<ul class="detail-title clearfixed">
						<li class="name">楼盘名</li>
						<li class="price">价格</li>
						<li>区域</li>
					</ul>
					#foreach($h in $!dataMap.rmlp)
                        <dl>
                            <a href="/web/house/detail/$!{h.id}" target="_blank">
                                <dd class="lpname">$!{h.title}</dd>
                                <dd class="price">
									#if($!{h.price} == -1)
                                    	价格待定
									#else
										$!{h.price}元/m²
									#end
								</dd>
                                <dd class="fangyuan-num">$!{h.qq}</dd>
                            </a>
                        </dl>
					#end
				</div>
				<!--人气楼盘排行榜结束-->
			</div>
			<!--分类数据结束-->
		</div>
		<!--友联开始-->
		<div class="footer clearfixed">
			#parse("/web/pc/_tags/_footer.vm")
		</div>
		<!--友联结束-->
	</div>
	<a href="http://app.wanjiafdc.com/" target="_blank">
		<div id="codes">&nbsp;</div>
	</a>
	<div id="backTop" title="回顶部" class="backTop" style="display: block;"></div>
	<script src="/assets/js/pc/lpw.js"></script>
	<script src="/assets/js/pc/base.js"></script>
	<script src="/assets/js/pc/min_contentslider.js"></script>
	<script type="text/javascript" src="/assets/js/pc/friendLink.js"></script>
	<script type="text/javascript">
		function saveGroupBuy(){

			var $form = $("#group_form_house");
            var name = $form.find('input[name="name"]').val();
            if(name === '') {
                alert('名称不能为空');
                return false;
            }

            $.post($form.attr('action'), $form.serialize(), function(result) {
                alert(result.msg);
				$form[0].reset();
            }, 'json');

        }
	</script>

</body>
