<head>
    #parse("/admin/_tags/_meta.vm")
    <title>$!title - 后台管理</title>
</head>
<body>
#parse("/admin/_tags/_header.vm")
<div class="body">
    <div class="container-box row">

        #set($menu = "menu_ware_cate")
        #parse("/admin/_tags/_menus.vm")

        <div class="col-main">

            #set($submenu = 'submenu_categories_promotion')
            #parse("/admin/categories/_tabs.vm")

            <div class="main_bd">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ol class="breadcrumb">
                            <li>
                                <a href="javascript:window.history.back();">
                                    <i class="glyphicon glyphicon-chevron-left"></i>返回
                                </a>
                            </li>
                            <li class="active">修改促销分类</li>
                        </ol>
                    </div>
                    <ul class="list-group">
                        <form id="model-form" method="post" action="/admin/categories/promotion/update/${id}">
                            <li class="list-group-item">
                                <h4>名称</h4>
                                <div class="meta_content">
                                    <input type="text" name="name" value="${name}" class="form-control" placeholder="请填写名称" style="width:500px;"/>
                                </div>
                                <div class="meta_opr">设置名称</div>
                            </li>
                        </form>
                    </ul>
                    <div class="panel-footer">
                        <button id="model-form-save" type="button" class="btn btn-success" >立即修改</button>
                        <button id="model-form-reset" type="button" class="btn btn-default" >重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#parse("/admin/_tags/_footer.vm")
<script src="/assets/js/admin/categories/promotion/update.js"></script>
</body>
