#set($layout = '/admin/_tags/_layout.vm')

#set($menu = "menu_article")

<style>
.input-items input {display: inline-block;}
.input-items input:first-child {margin-right: 20px;}
</style>

#set($submenu = 'submenu_article_list')
#parse("/admin/articles/_tabs.vm")

<div class="main_bd">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ol class="breadcrumb">
                <li>
                    <a href="javascript:window.history.back();">
                        <i class="glyphicon glyphicon-chevron-left"></i>返回
                    </a>
                </li>
                <li class="active">修改</li>
            </ol>
        </div>
        <ul class="list-group">
            <form id="model-form" method="post" action="/admin/articles/update/$!{art.id}">
                <li class="list-group-item">
                    <h4>分类</h4>
                    <div class="meta_content">
                        <select id="chosen-vendor" name="cid" data-placeholder="选择分类" style="width:500px;" class="form-control chzn-select">
                            <option value="-1"></option>
                            #foreach($cat in $!categories)
                                <option value="$!cat.id" #if($!art.cid == $!cat.id) selected="selected" #end>$!cat.name</option>
                            #end
                        </select>
                    </div>
                    <div class="meta_opr">选择新闻分类</div>
                </li>
                <li class="list-group-item">
                    <h4>标题</h4>
                    <div class="meta_content">
                        <input type="text" name="title" value="$!{art.title}" class="form-control" placeholder="请填写标题" style="width:500px;"/>
                    </div>
                    <div class="meta_opr">设置标题</div>
                </li>
                <li class="list-group-item">
                    <h4>标签</h4>
                    <div class="meta_content">
                        <input name="labels" id="tags-labels" value="$!art.labels"/>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4><em>*</em>图片</h4>
                    <div class="meta_content">
                        #set($thumbnails = $!art.thumbnailItems)
                        #parse('/admin/_widgets/upload_con.vm')
                        <p class="fnote">建议尺寸：240 x 180 像素；您可以通过箭头调整图片顺序；第一张图片默认为封面图。</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>内容</h4>
                    <div class="meta_content">
                        <textarea class="form-control" id="editor-content" style="width:700px;">$!{art.content}</textarea>
                        <input type="hidden" name="content" id="editor-input">
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>摘要</h4>
                    <div class="meta_content">
                        <textarea class="form-control" name="summary" placeholder="请填写文章摘要，200字以内（若不填写，则自动生成）" style="width:700px;">$!{art.summary}</textarea>
                    </div>
                </li>
            </form>
        </ul>
        <div class="panel-footer">
            <button id="model-form-submit" type="button" class="btn btn-success" >立即保存</button>
            <button id="model-form-reset" type="button" class="btn btn-default" >重置</button>
        </div>
    </div>
</div>
#include('/admin/_widgets/upload_view.vm')
<script src="/assets/js/admin/articles/edit.js"></script>
