#set($layout = '/admin/_tags/_layout.vm')

#set($menu = "menu_market")

#set($submenu = 'submenu_market_list')
#parse("/admin/markets/_tabs.vm")

<div class="main_bd">
    <table id="model-table-view"></table>
</div>

<script src="/assets/js/admin/markets/list.js"></script>
