<div class="footer">
    <div class="wrapper">
        <div class="footerwrap">
            <div class="copyright" id="if">
                <p>
                    <a target="_blank" href="" rel="nofollow">公司简介</a>
                    | <a target="_blank" href="" rel="nofollow">分站加盟</a>
                    | <a target="_blank" href="" rel="nofollow">企业文化</a>
                    | <a target="_blank" href="" rel="nofollow">合作伙伴</a>
                    | <a target="_blank" href="" rel="nofollow">联系我们</a>
                    | <a target="_blank" href="" rel="nofollow">市场合作</a>
                </p>
                <p>广告投放热线：<font color="red">400 818 0066 转 666666</font>  客服热线：0731-88867777  邮箱：cs@LouPan.com  经营性ICP证：
                    <a href="" rel="nofollow" target="_blank">湘B2-20130102</a>
                </p>
                <p>Copyright © 2016 www.LouPan.com All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
