#set($layout = '/admin/_tags/_layout.vm')

#set($menu = "menu_donor")

#set($submenu = 'submenu_donor_list_' + $type)
#parse("/admin/donors/_tabs.vm")

<div class="main_bd">
    <table id="model-table-view" data-type="${type}"></table>
</div>

<script src="/assets/js/admin/donors/list.js"></script>
