<div class="main_hd">
##    <h2>招聘管理</h2>
    <div class="title_tab">
        <ul class="tab_navs">
            #if($submenu == 'submenu_recruit_list')
                <li class="tab_nav selected"><a href="javascript:;">招聘列表</a></li>
            #else
                <li class="tab_nav"><a href="/admin/recruits/list">招聘列表</a></li>
            #end

            #if($submenu == 'submenu_recruit_form')
                <li class="tab_nav selected"><a href="javascript:;">添加招聘</a></li>
            #else
                <li class="tab_nav"><a href="/admin/recruits/create">添加招聘</a></li>
            #end
        </ul>
    </div>
</div>
