<div class="foot" id="footer">
    <ul class="links-ft">
        <li class="links-item">
            <a>© $!title</a>
        </li>
        <li class="links-item">
            <a href="http://kusion.com.cn/" target="_blank">技术支持：酷申科技</a>
        </li>
    </ul>
</div>
