<h3 style="font-size:24px;vertical-align:baseline;font-weight:normal;font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;">
    <span style="line-height:2;font-size:18px;"><strong>课程概述</strong></span> 
</h3>
<p>
    <span style="font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;font-size:14px;line-height:28.8px;">在当今社会，向学习者介绍科学的宇宙观和方法论显得很有必要，这在很大程度上有利于学习者掌握用辩证唯物主义的观点观察问题和解决问题的能力。</span> 
</p>
<p>
    <span style="font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;font-size:14px;line-height:28.8px;"> </span> 
</p>
<hr />
<h3 style="font-size:24px;vertical-align:baseline;font-weight:normal;font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;">
    <span style="line-height:2;font-size:18px;"><strong>预备知识</strong></span> 
</h3>
<p>
    <span style="font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;font-size:14px;line-height:28.8px;"><span style="font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;font-size:16px;line-height:28.8px;"><span style="font-size:14px;">高中毕业水平所具有的自然科学基础知识</span>。</span></span>
</p>
<p>
    <span style="font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;font-size:14px;line-height:28.8px;"></span> 
</p>
<hr />
<h3 style="font-size:24px;vertical-align:baseline;font-weight:normal;font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;">
    <span style="line-height:2;font-size:18px;"><strong>授课教师</strong></span> 
</h3>
<p>
    <span><span style="font-size:14px;line-height:28.8px;">xxx教师</span></span> 
</p>
<hr />
<p>
    <strong> </strong> 
</p>
<h3 style="font-size:24px;vertical-align:baseline;font-weight:normal;font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;">
    <strong><span style="line-height:2;font-size:18px;"><strong>授课地点</strong></span></strong>
</h3>
<p>
    <span><span style="font-size:14px;line-height:28.8px;">银川市xx地点</span></span> 
</p>
<hr />
<p>
    <strong> </strong> 
</p>
<h3 style="font-size:24px;vertical-align:baseline;font-weight:normal;font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;">
    <strong><span style="line-height:2;font-size:18px;"><strong>联系方式</strong></span></strong>
</h3>
<p>
    <span style="font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;font-size:14px;line-height:28.8px;">电话：1xxxxxxxxx</span> 
</p>
<p>
    <span style="font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;font-size:14px;line-height:28.8px;">QQ：45412123.</span> 
</p>
<p>
    <span style="font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;font-size:14px;line-height:28.8px;">微信：sdcsdcsad</span> 
</p>
<p>
    <span style="font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;font-size:14px;line-height:28.8px;"></span> 
</p>
<hr />
<h3 style="font-size:24px;vertical-align:baseline;font-weight:normal;font-family:'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Helvetica, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;">
    <span style="line-height:2;font-size:18px;"><strong>常见问题</strong></span> 
</h3>
<p>
    <span><span style="font-size:14px;line-height:28.8px;">xxxxxx</span></span> 
</p>